.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-black {
  background-color: $black;
}

.bg-green-light {
  background-color: $green-light;
}

.bg-green {
  background-color: $green;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}
