.menu--footer {
  @include media-breakpoint-up(lg) {
    padding-top: 47px;
    padding-bottom: 12px;
  }
  ul.nav {
    padding-top: 10px;
  }
  .nav-item {
    min-width: 30%;
  }
  a.nav-link {
    padding: 1rem 0;
    color: $gray-dark;
    @include media-breakpoint-up(lg) {
      padding: 0.5rem 1rem;
    }
    &:hover {
      color: $primary;
      text-decoration: underline;
    }

  }
}
