/** green-light **/
.bg-green-light {
  background-color: $green-light;
}

.text-green-light {
  color: $green-light;
}

.border-color-green-light {
  border-color: $green-light;
}

.border-color-left-green-light {
  border-left-color: $green-light;
}

.border-color-right-green-light {
  border-right-color: $green-light;
}

.border-color-top-green-light {
  border-top-color: $green-light;
}

.border-color-bottom-green-light {
  border-bottom-color: $green-light;
}

/** gray-light **/
.bg-gray-light {
  background-color: $gray-light;
}

.text-gray-light {
  color: $gray-light;
}

.border-color-gray-light {
  border-color: $gray-light;
}

.border-color-left-gray-light {
  border-left-color: $gray-light;
}

.border-color-right-gray-light {
  border-right-color: $gray-light;
}

.border-color-top-gray-light {
  border-top-color: $gray-light;
}

.border-color-bottom-gray-light {
  border-bottom-color: $gray-light;
}

/** Green **/
.bg-green {
  background-color: $green;
}

.text-green {
  color: $green;
}

.border-color-green {
  border-color: $green;
}

.border-color-left-green {
  border-left-color: $green;
}

.border-color-right-green {
  border-right-color: $green;
}

.border-color-top-green {
  border-top-color: $green;
}

.border-color-bottom-green {
  border-bottom-color: $green;
}

/** gray **/
.bg-gray {
  background-color: $gray;
}

.text-gray {
  color: $gray;
}

.border-color-gray {
  border-color: $gray;
}

.border-color-left-gray {
  border-left-color: $gray;
}

.border-color-right-gray {
  border-right-color: $gray;
}

.border-color-top-gray {
  border-top-color: $gray;
}

.border-color-bottom-gray {
  border-bottom-color: $gray;
}

/** gray-dark **/
.bg-gray-dark {
  background-color: $gray-dark;
}

.text-gray-dark {
  color: $gray-dark;
}

.border-color-gray-dark {
  border-color: $gray-dark;
}

.border-color-left-gray-dark {
  border-left-color: $gray-dark;
}

.border-color-right-gray-dark {
  border-right-color: $gray-dark;
}

.border-color-top-gray-dark {
  border-top-color: $gray-dark;
}

.border-color-bottom-gray-dark {
  border-bottom-color: $gray-dark;
}

.bg-white {
  background-color: $white;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.node-layout-builder-form,
.region-content-top {
  max-width: 1440px;
  padding: 15px;
  margin: 0 auto;
}

.block-local-tasks-block {
  margin: 15px 0;
}
