{% extends "page.html.twig" %}

{% block page_banner %}
  <div class="default-banner event-hero-banner hero-banner hero-content jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div role="banner" class="col-12 banner-wrapper">
          {{ page.banner.views_block__event_banner_block_node_banner }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}